@import '../../../global';
.currency-txt {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.currency-span-txt {
    font-size: 10px;
    padding-left: 5px;
    color: #9b9b9b;
}
.bottom-btn-wrapper {
    margin-top: 50%;
  }