<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon size="small" ios="ios-home" md="md-home"></ion-icon>
      <span>Home</span>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon size="small" ios="ios-menu" md="md-menu"></ion-icon>
      <span>Transactions</span>
    </ion-tab-button>

    <ion-tab-button tab="send-payment">
      <ion-icon size="large" ios="ios-add-circle" md="md-add-circle"></ion-icon>
      <span>Send</span>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon size="small" ios="ios-options" md="md-options"></ion-icon>
      <span>Settings</span>
    </ion-tab-button>

    <ion-tab-button tab="send-payment/select-recepient">
      <ion-icon size="small" ios="ios-people" md="md-people"></ion-icon>
      <span>Recipients</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>