<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-grid no-margin no-padding>
      <ion-row>
        <ion-col size="6">
          <div class="back-btn-wrapper" (click)="backRedirect()">
            <ion-icon name="arrow-back"></ion-icon><span> {{title}}</span>
          </div>
        </ion-col>
        <ion-col size="6" class="top-nav-logo-wrapper">
          <img src="../../../assets/logo/icon-white.svg" alt="Wayapay" routerLink="/account">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<!-- <app-send-payment></app-send-payment> -->